* filter=lfs diff=lfs merge=lfs -text

*.sh !filter !diff !merge
*.yaml !filter !diff !merge
*.json !filter !diff !merge
*.go !filter !diff !merge
*.sql !filter !diff !merge
*.sqldb !filter !diff !merge
*.graphqls !filter !diff !merge
*.tpl !filter !diff !merge
*.toml !filter !diff !merge
*.dockerignore !filter !diff !merge
*.env !filter !diff !merge
*.gitignore !filter !diff !merge
*.mod !filter !diff !merge
*.sum !filter !diff !merge
*.txt !filter !diff !merge
*.md !filter !diff !merge
*.templ !filter !diff !merge
run !filter !diff !merge
Procfile !filter !diff !merge
docker/ !filter !diff !merge
LICENSE !filter !diff !merge
.gitignore !filter !diff !merge
.gitattributes !filter !diff !merge
.idea/ !filter !diff !merge
.vscode/ !filter !diff !merge
.git/ !filter !diff !merge
